@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;600&display=swap');

body{
    background-color: rgba(255, 255, 255, 0.486);
}

.container{
    text-align: center;
    margin: 40px;
    margin-top: 230px;
    font-size: 1.5em;
    background-color: #fff;
    font-family: 'Tilt Prism', cursive, sans-serif;
}

h1{
    color: rgb(228, 116, 11);
}

#value{
    font-size: 3em;
}

.btn{
    border-radius: 7px;
    margin: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.btn::before{
    background-color: aquamarine;
}

footer{
    text-align: center;
    font-size: 1.5em;
    font-family: 'DynaPuff', cursive, sans-serif;
    letter-spacing: 5px;
}